#wrapper {
	margin: 0 auto;
	max-width: 100%;
}

/*Typography*/ 

h1, h2, h3, h4, p {
	font-family: Ubuntu, sans-serif;
	text-align: center;
}

h4, p {
	color: #505050;
}

h1 {
	font-size: 26px;
	font-weight: 200;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 16px;
	font-weight: 200;
}

h4 {
	font-size: 12px;
	font-weight: 300;
}

p {
	font-size: 10px;
	font-weight: 300;
	line-height: 14px;
}



.bold {
	font-weight: 600;
}

strong {
	font-weight: 500;
}

.special {
	height: 40;
	width: 40;
}

.condensed {
	letter-spacing: -20;
}

/*Rows: Images & Text*/

.image-row {
	text-align: center;
}

.image-box {
	margin: 10px 50px;
}

.image-box2 {
	margin: 10px 75px;
}

.text-row {
	text-align: center;
}

.text-box {
	display: inline-block;
	margin: 30px;
}

.imageBox {
	display: inline-block;
}

.banner1 {
	background: url("../assets/PastedGraphic-3 2.png");
	height: 250px;
	margin-bottom: 30px;
	margin-top: 10px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

.banner2 {
	background: url("../assets/NewPastedGraphic-2 copy.png");
	height: 400px;
	color: white;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

.image-row2 {
	padding-top: 30px;
	color: white;
}

.blue-text {
	color: #009bff;
	font-weight: 600;
	margin-bottom: -20px;
}

.border-box {
	border: 2px solid white;
	padding: 10px 10px 10px 10px;
	width:200px;
	border-radius: 3px;
	margin: 0 auto;
}