#wrapper {
	margin: 0 auto;
	max-width: 100%;
}

/* Typography */

h1,h2,h3,h4,h5,p {
	font-family: Ubuntu, sans-serif;
	text-align: center;
	font-weight: 300;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 12px;
}

h5 {
	font-size: 15px;
}

p {
	font-size: 10px;
	line-height: 14px;
}

h4,p {
	color: #505050;
}

strong {
	font-weight: 500;
}

/* Sections */

section {
	text-align: center;
	margin-top: 35px;
}

.content-box {
	display: inline-block;
	margin-top: 10px;
}

.image-box {
	margin: 0px 60px;
}

.image-box-2 {
	margin: 0px 105px;
}

.image-box-sm {
	margin: 20px 90px -10px 90px;
}

.text-box {
	display: inline-block;
	margin: 20px 30px;
}

.border {
	border: 1px solid #C0C0C0;
	border-radius: 35px;
	padding: 12px 25px 12px 25px;
}

.border-special {
	border: 1px solid #C0C0C0;
	border-radius: 30px;
	padding: 8px 30px 8px 30px;
}

/* Slide-1 */

hr {
	border: 1px solid #C0C0C0;
	float: right;
	margin-top: -50px;
}

.line-1 {
	width: 36%;
	margin-right: -43px;
}

.line-2 {
	width: 47%;
	margin-right: -90px;
}

.blue-progress {
	border: 1px solid #009BFF;
}

/* Slide-2 */

.curly-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -40px;
}

/* Slide-3 */

.bcg-1 {
	background: url("../assets/bwimage.png") 50% 0 fixed;
	height: 300px;
	background-repeat: no-repeat;
}

.banner-content-1 {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FFFFFF;
}

.banner-content-1 .no-display {
	display: none;
}

.btn {
	border: 2px solid #00BD6F;
	font-family: Ubuntu;
	color: #FFFFFF;
	text-transform: uppercase;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 5px;
}

.btn-group-wrap {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.active {
	background-color: #00BD6F;
}

.time, .money {
	opacity; 0;
}

/* Slide-3-Toggle */

.banner1-toggle {
	background: url("../assets/bwimage3.png") 50% 0 fixed;
	height: 300px;
	background-repeat: no-repeat;
}

/* Slide-4 */

.blue-text {
	color: #009BFF;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: -10px;
}

/* Slide-5 */

.bcg-2 {
	background: url("../assets/bwimage2.png") 50% 0 fixed;
	height: 400px;
	color: #FFFFFF;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	padding-top: 40px;
}

.banner-content-2 {
	margin-top: 15px;
	margin-bottom: 15px;
}

button {
	display: inline-block;
	margin-left: 0 auto;
	margin-right: 0 auto;
	border: 2px solid #FFFFFF;
	border-radius: 5px;
	width: 230px;
	background-color: transparent;
}


/*** Media Tags ***/

@media screen and (max-width: 478px) {
	h1 {
		font-size: 20px;
	}

	.bcg-2 {
		background-size: cover;
	}

	.image-box-2 {
		margin: 0 auto;
	}
}

@media screen and (min-width: 870px) {
	.bcg-1 {
		background-size: cover;
	}

	.banner1-toggle {
		background-size: cover;
	}

	.bcg-2 {
		background-size: cover;
	}
}

@media screen and (max-width: 870px) {
	.content-box {
		display: block;
		margin-top: 40px;
	}

	hr {
		display: none;
	}

	/* Slide-2 */

	.curly-image {
		display: none;
	}

	/* Slide-3 */

	.bcg-1 {
		background-size: cover;
	}

	.banner1-toggle {
		background-size: cover;
	}

	.banner-content-1 {
		padding-top: 35px;
	}

	.banner-content-1 h1 {
		font-size: 18px;
	}

	.banner-content-1 h3 {
		font-size: 16px;
		margin-left: 50px;
		margin-right: 50px;
	}

	.btn-group-wrap {
		margin-top: 35px;
		margin-bottom: 35px;
	}

	/* Slide-4 */

	.blue-text {
		margin-top: 30px;
	}

	/* Slide-5 */

	.bcg-2 {
		min-height: 650px;
		padding-bottom: 20px;
		background-size: cover;
	}

	.banner-content-2 h3 {
		font-size: 14px;
	}

	.image-box-sm {
		max-height: 60px;
		margin-top: -15px;
	}
}